/*Last updated at 1500 hours*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

a, a:visited{
    text-decoration: none;
}

body, ul, li, h2{
    margin: 0;
    padding: 0;
    font-family: inherit;
    text-decoration: none;
}


body{
    background-color: #e0e4e7;
}

/*Styling the Armchair logo*/
header { 
    background-color: #93B7EF;
    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    height: 20vw;
}

header .text, 
header img{
    display: inline-block;
    vertical-align: top;
}

header .text{
    font-family: 'Goudy Bookletter 1911', serif;
    /*font-weight: bold;*/
    font-size: 4vw;	
    /*text-shadow: 2px 2px rgb(236, 201, 161);*/
    color: white;
    letter-spacing: 2px;
}

header img{ 
    max-width: 20%;
}

	
/*Styling menus for Books, Shows, Book, Show*/
a.book, a.book:visited{
  margin: 0;
  padding: 0;
  font-family: inherit;
  text-decoration: none;
  color: white;
}

a.show, a.show:visited{
  margin: 0;
  padding: 0;
  font-family: inherit;
  text-decoration: none;
  color: white;
}

a.thread-username, a.thread-username:visited{
  margin: 0;
  padding: 0;
  font-family: inherit;
  text-decoration: none;
  color: white;
}

#myMenu {
    font-size: 5vw;
    list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif; 
}

#myMenu li a {
  font-size: 5vw;
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

/*Styling search boxes for Books, Shows, Book, Show*/
#mySearch {
	 width: 100%;
	 height: 5%;
	 font-size: 18px;
	 padding: 11px;
	 border: 1px solid #ddd;
	 font-family: Verdana, Geneva, sans-serif;
	 font-weight: lighter;
	 letter-spacing: .1vw;
}


/*Styling for Side Navigation*/
.dropdown {
    float: right;
    overflow: hidden;
}
          
.dropbtn {
    border-radius: 20%;
    background-color: #93B7EF;
    border: 0;
}
          
.dropbtn div {
    width: 8vw;
    height: .4vw;
    background-color: white;
    margin: 1.6vw 0;
    border-radius: 20%;
}
          
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ff8878;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vw;
}
          
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Goudy Bookletter 1911', serif;
    color: white;
    display: block;
    transition: 0.3s;
}
          
.sidenav a:hover {
    color: #f1f1f1;
}
          
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*Styling for profilebooks and profileshows*/    
  
.profile-img{
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	margin-top: 5vw;
	margin-left: 5vw;
}

.profileusername {
	font-size: 3.5vw;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	right: 2vw;
	text-align: center;
}
  
.switchbooks{
	position: relative;
	left: 19vw;
	background-color: #ff8878;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	-moz-box-shadow: 0 0 1vw #ccc;
	-webkit-box-shadow: 0 0 1vw #ccc;
	box-shadow: 0 0 1vw #ccc;
	border-radius: 1%;
	font-weight: bold;
}

.switchshows{
	position: relative;
	left: 19vw;
	background-color: #ff8878;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	-moz-box-shadow: 0 0 1vw #ccc;
	-webkit-box-shadow: 0 0 1vw #ccc;
	box-shadow: 0 0 1vw #ccc;
	border-radius: 1%;
	font-weight: bold;
}

.switchlikes{
	position: relative;
	left: 19vw;
	background-color: #ff8878;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	-moz-box-shadow: 0 0 1vw #ccc;
	-webkit-box-shadow: 0 0 1vw #ccc;
	box-shadow: 0 0 1vw #ccc;
	border-radius: 1%;
	font-weight: bold;
}
  
.profilelist{ 
	background-color: #c1d8fd;
	border-style: solid;
	border-width: .1vw;
	border-color: #979797;
	margin: 2vw 2vw;
	-moz-box-shadow: 0 0 1vw #ccc;
	-webkit-box-shadow: 0 0 1vw #ccc;
	box-shadow: 0 0 1vw #ccc;
}
  
.profilelist .listtitle{ 
	background:linear-gradient(to bottom, #ff8878 5%,#ebc192 100%);
	background-color:#ff8878;
	color: white;
	max-width: 100%;
	height: 10vw;
	display: block;
}

/*Styling for the lists on Profile pages such as Read, Reading, Favorite Books, Watched, Watching, and Favorite Shows*/
.profilemedialist{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
  
.profilemedialist li{
	margin: 3vw auto;
	width: 95%;
	background-color: #93B7EF;
	-webkit-box-shadow: 0 2vw 3vw -3vw #222;
	-moz-box-shadow: 0 2vw 3vw -3vw #222;
    box-shadow: 0 2vw 3vw -3vw #222;
}
  
.profilemedialist li .data{
	font-size: 4.5vw;
	list-style: none;
	position: relative;
	left: 4vw;
	margin-top: 2vw;
	margin-bottom: 4vw;
	margin-right: 2vw;
}
  
.profilemedialist li .data .title{
	color: #f7f9ff;
	font-weight: lighter;
	letter-spacing: .1vw;
	font-size: 4vw;
	position: relative;
	margin-top: 2vw;
	line-height: 1.5;
	font-family: Verdana, Geneva, sans-serif;
}
  
.profilemedialist li img, .profilemedialist li .data{
	display: inline-block;
	vertical-align: top;
}
		  
		    
.profilemedialist li img{
	max-width: 30%;
}
  
.subdata{
	font-size: 4vw;
	letter-spacing: .1vw;
	font-weight: lighter;
	position: absolute;
	font-family: 'Verdana';
	color: #f7f9ff;
	line-height: 1.5;
}
		  
/*Styling for editing lists on pages such a profilebooks, profileshows, addbookread, addbookreading, addbookfavorites, addshowwatched, addshowwatching, and addshowfavorites*/
input {
	width: 6vw;
	height: 3vw;
}
  
.btntext{
	position: absolute;
	left: 1.9vw;
	bottom: .5vw;
}
		  
.editbtn {
	background:linear-gradient(to bottom, #ff8878 5%, #ee3c29 100%);
	background-color:#ff8878;
	border-radius:100%;
	display: inline-block;
	font-weight: bold;
	color:#ffffff;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 5vw;
	padding:5px 5px;
	text-decoration:none;
	width: 5vw;
	height: 5vw;
	position: relative;
	left: 3vw;
}

#minus.btntext{
	bottom: 2vw;
	left: 2.3vw;
}
		
.feedback{
	 padding-left: 1vw;
	 margin-left: 1vw;
	 font-size: 5vw;
}

.backbtn{
	 padding: 1vw;
	 margin: 2vw;
	 font-size: 5vw;
	 color: purple;
}

/*Profile related styling on Episode and Chapter pages*/	  
/*profile img styling for comments*/    
.subdata .profile-img{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin-top: 2vw;
    margin-left: 2vw;
}
                
/*profile img styling for replies*/
.reply-profile-img .profile-img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin-top: 1vw;
    margin-left: .25vw;
}

		  
/*Styling the banners for titles of pages*/
.listtitle{
	margin: 0 0;
	position: relative;
	top: 0;
    background: linear-gradient(to bottom, #ff8878 5%,#ebc192 100%);
	background-color: #ff8878;
    color: white;
	max-width: 100%;
	height: 10vw;
    display: block;
}
  
.listtitle h3{ 
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: lighter;
	position: absolute;
	margin-top: 2vw;
	margin-bottom: 1vw;
	margin-left: 1vw;
	color: white;
}

div.data > *{
	font-size: 4.5vw;
}